# Ignore Data directory
/data
/models
Baptiste/here.txt
Baptiste/ChiffreMatlabLike/mnist_cnn_model.pth
Baptiste/ChiffreMatlabLike/data/t10k-images-idx3-ubyte
Baptiste/ChiffreMatlabLike/data/t10k-images-idx3-ubyte.gz
Baptiste/ChiffreMatlabLike/data/t10k-labels-idx1-ubyte
Baptiste/ChiffreMatlabLike/data/t10k-labels-idx1-ubyte.gz
Baptiste/ChiffreMatlabLike/data/train-images-idx3-ubyte
Baptiste/ChiffreMatlabLike/data/train-images-idx3-ubyte.gz
Baptiste/ChiffreMatlabLike/data/train-labels-idx1-ubyte
Baptiste/ChiffreMatlabLike/data/train-labels-idx1-ubyte.gz
Baptiste/ChiffreMatlabLike/runs/Oct29_09-30-21_MSI/events.out.tfevents.1698568221.MSI.3756.0
Baptiste/ChiffreMatlabLike/runs/Oct29_09-37-42_MSI/events.out.tfevents.1698568662.MSI.27832.0
Baptiste/PremierProgrammeGPT/here.txt
Baptiste/PremierProgrammeGPT/data/cifar-10-python.tar.gz
Baptiste/PremierProgrammeGPT/data/cifar-10-batches-py/batches.meta
Baptiste/PremierProgrammeGPT/data/cifar-10-batches-py/data_batch_1
Baptiste/PremierProgrammeGPT/data/cifar-10-batches-py/data_batch_2
Baptiste/PremierProgrammeGPT/data/cifar-10-batches-py/data_batch_3
Baptiste/PremierProgrammeGPT/data/cifar-10-batches-py/data_batch_4
Baptiste/PremierProgrammeGPT/data/cifar-10-batches-py/data_batch_5
Baptiste/PremierProgrammeGPT/data/cifar-10-batches-py/readme.html
Baptiste/PremierProgrammeGPT/data/cifar-10-batches-py/test_batch
Baptiste/PremierProgrammeGPT/runs/Oct29_08-49-16_MSI/events.out.tfevents.1698565756.MSI.8364.0
Baptiste/PremierProgrammeGPT/runs/Oct29_08-59-51_MSI/events.out.tfevents.1698566391.MSI.25632.0
Baptiste/PremierProgrammeGPT/runs/Oct29_09-00-43_MSI/events.out.tfevents.1698566443.MSI.20996.0
Gabriel/here.txt
Baptiste/ResNet101-100epoch/melanoma_model.pth
Baptiste/here.txt
